<section id="contact">
    <div class="contact">
        <div class="left">
            <i class="bi bi-envelope-paper"></i>
            <p>If you have questions or just want to get in touch, use the form below. We look forward to hearing from
                you!
            </p>
        </div>
        <div class="right">
            <h2>Contact Us</h2>
            <form action="" class="contact-form" onsubmit="reset(); return false">
                <div class="form-group">
                    <input type="text" placeholder="Your Name" id="name">
                </div>
                <div class="form-group">
                    <input type="email" placeholder="User Email" id="email">
                </div>
                <div class="form-group">
                    <textarea name="" cols="30" rows="10" placeholder="Message" id="message"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="submitbtn">Send</button>
                </div>
            </form>
        </div>
    </div>
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3692.119759774968!2d70.77721951413548!3d22.273452849499364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3959ca46f5c40c5f%3A0xeb865115b5c3753a!2sTWINSTAR!5e0!3m2!1sen!2sin!4v1656653154193!5m2!1sen!2sin"
        width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</section>