<!-- <section class="empty-cart">
    <div class="container">
        <h2>Cart Empty</h2>
        <p>
            You probably haven't ordered yet.
            To order food dish, go to the home page.
        </p>
        <img style="width: 600px; height: 400px; margin-top: 3rem;" src="/img/empty-cart.png"
            alt="empty-cart">
        <a href="/" class="go-back-btn">Go Back</a>
    </div>
</section> -->

<section class="order">
    <div class="container">
        <div class="title">
            <i class="bi bi-cart-check-fill"></i>
            <h2>Order Summary</h2>
        </div>
        <hr>
        <div class="table-display">
            <div class="table-row">
                <div class="name">
                    <img src="/img/smosa.jpg" alt="">
                    <p>Samosa</p>
                </div>
                <div>1 Psc</div>
                <div>₹300</div>
            </div>

            <div class="table-row">
                <div class="name">
                    <img src="/img/smosa.jpg" alt="">
                    <p>Samosa</p>
                </div>
                <div>1 Psc</div>
                <div>₹300</div>
            </div>

            <div class="table-row">
                <div class="name">
                    <img src="/img/smosa.jpg" alt="">
                    <p>Samosa</p>
                </div>
                <div>1 Psc</div>
                <div>₹300</div>
            </div>
        </div>
        <div class="submit">
            <div class="total">
                <span>Total Amount: </span><span>₹300</span>
            </div>
            
            <form action="" class="form" method="POST">
                <input type="text" placeholder="Phone Number">
                <input type="text" placeholder="Address">
                <button type="submit">Order Now</button>
            </form>
        </div>
    </div>


    </div>
</section>